# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_NINI_SLIMEVR_V6_MAG_UF2
	bool "NiNi SlimeVR V6 MAG UF2 board (PWM RGB LED + I2C)"
	select SOC_NRF52833_QDAA
	select BOARD_HAS_DTS
	help
	  Enable support for the NiNi SlimeVR V6 MAG UF2 board with PWM RGB LED and I2C magnetometer.

