/ 
	battery-divider {
		compatible = "voltage-divider";
		status = "okay";
		io-channels = <&adc 3>; // Measure VDDHDIV5
		output-ohms = <40200>;
		full-ohms = <(100000+40200)>;
	};

	aliases {
		sw0 = &button0;
		led0 = &led0;
	};
};

arduino_spi: &spi2 {
	imu_spi: imu_spi@0 {
		compatible = "vnd,spi-device";
		spi-max-frequency = <DT_FREQ_M(24)>;
		label = "imu-spi";
		reg = <0>;
	};
};
