#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>

/ {
	battery-divider {
		compatible = "voltage-divider";
		status = "okay";
		io-channels = <&adc 3>;
		output-ohms = <40200>;
		full-ohms = <(100000 + 40200)>;
	};

	leds {
    		compatible = "gpio-leds";
    		user_led0: led_0 {
        		gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
    		};
	};


	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button switch 0";
		};
	};

	sram_retained: sram-retained@2001f000 {
        compatible = "zephyr,memory-region", "mmio-sram";
        reg = <0x2001f000 0x1000>;
        zephyr,memory-region = "RETAINED_MEM";
        status = "okay";

        retainedmem0: retainedmem {
            compatible = "zephyr,retained-ram";
            status = "okay";
        };
    };

	aliases {
		sw0 = &button0;
		led0 = &user_led0;
		imu0 = &imu_spi;
		retainedmemdevice = &retainedmem0;
	};  
};
 
&pinctrl {
	spi2_default: spi2_default {
		group1 {
			psels = <NRF_PSEL(SPIM_MISO, 0, 29)>,
				<NRF_PSEL(SPIM_MOSI, 0, 28)>,
				<NRF_PSEL(SPIM_SCK,  0, 2)>;
			bias-disable;
		};
	};

	spi2_sleep: spi2_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_MISO, 0, 29)>,
				<NRF_PSEL(SPIM_MOSI, 0, 28)>,
				<NRF_PSEL(SPIM_SCK,  0, 2)>;
			low-power-enable;
		};
	};
};

&spi2 {
	status = "okay";
	compatible = "nordic,nrf-spim";
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";

	cs-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;

	imu_spi: imu@0 {
		compatible = "vnd,spi-device";
		reg = <0>;
		label = "imu-spi";
		spi-max-frequency = <DT_FREQ_M(24)>;
	};
};
