config BOARD_NINI_SLIMEVR_V4_MAG_UF2
	bool "nini SlimeVR V4 MAG UF2 board (PWM RGB LED + I2C)"
	select SOC_NRF52833_QDAA
	select BOARD_HAS_DTS
	help
	  Enable support for the nini SlimeVR V4 MAG UF2 board with PWM RGB LED and I2C magnetometer.

