config BOARD_NINI_SLIMEVR_V4_UF2
	bool "NiNi SlimeVR V4 UF2 board (PWM RGB LED)"
	select SOC_NRF52833_QDAA
	select BOARD_HAS_DTS
	help
	  Enable support for the NiNi SlimeVR V4 UF2 board with PWM RGB LED.

