# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_NINI_SLIMEVR_V3_UF2
	bool "NiNi SlimeVR V3 UF2 board"
	select SOC_NRF52833_QDAA
	select BOARD_HAS_DTS
	help
	  Enable support for the NiNi SlimeVR V3 UF2 board.

